html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #191B1C;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* ###################### HERO ######################### */
.hero {
    height: 100vh;
    background: url("../img/hero.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background: rgba(0, 0, 0, 0);
    color: white;
    box-shadow: none;
    padding: 1.5rem 2rem;
    z-index: 2;
}
.nav-logo {
    width: 7rem;
    margin-top: -1rem;
    transition: .5s;
    opacity: 1;
    display: block;
}
.hidden{
    opacity: 0;
    transition: .5s;
}

nav ul a {
    font-weight: 600;
}

.brand-logo {
    font-family: Raleway;
    font-size: 3rem !important;
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 5.6rem;
    color: rgba(255, 255, 255, 0.74) !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5rem;
    position: relative;
    top: -10px;
    margin-left: 20px;
}

.rait {
    color: #03a9f4;
}

.phrase {
    margin: 0 auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    max-width: 1220px;
    width: 95%;
    line-height: 4rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FAFAFA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rait {
    color: #03a9f4;
    font-weight: 700;
}

nav {
    position: fixed;
    top: 0
}

.nav-scrolled {
    background: rgba(0, 0, 0, 0.9);
    height: 6rem;
}

/* ##################### INTRODUCTION ######################## */
.introduction {
    color: white;
}

.intro-title {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family: Raleway;
    font-weight: 500;
}

.hr {
    width: 50%;
}

.cards {
    margin: 3rem 0;
    width: 100%;
}

.card {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0);
}

.card-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 1.8rem !important;
    line-height: 28px;
    text-transform: uppercase;
    line-height: 4rem !important;
}

.card .card-content p {
    line-height: 2rem;
    letter-spacing: 0.01rem;
}

.container>hr {
    margin-bottom: 4rem;
}

.cta {

    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin-bottom: 3rem;
}
.row-cta h2{
    font-weight: 600;
}

.elem{
    margin-top: 2.5rem;
}
.elem2{
    margin-top: 3rem;
}

.row-cta {
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.8);
}



.material-icons {
    color: rgba(255, 255, 255, 0.74);
}

.nav-footer {
    position: fixed;
    top: 90vh;
    font-family: Raleway;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.25);
    padding: 2rem;
}

nav i.material-icons {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
}

.col>p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

h3 {
    color: white;
}

.sidenav {
    background: #191B1C;

}

.sidenav li>a {
    color: #FAFAFA;
    font-size: 1.2rem;
    font-family: Raleway;
    padding: 10px 2.5rem 20px;
}

.side-logo {
    margin: 2rem 6rem 0;
}

.teams-row {
    padding: 0 1rem 3rem;
}

.tech-talk {
    background: url("../img/techtalk.webp")
}

.ts {
    background: url("../img/techsympo.webp")
}

.workshops {
    background: url("../img/workshop.webp")
}
.nav-logo-small{
    width:50px
}
@media only screen and (max-width: 600px) {
    .about-text>p {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 0.5rem;
    }

    .counter {
        font-size: 3.2rem;
    }

    .col>h5 {
        font-size: 1.5rem;
    }
    .elem {
        margin-top: -2rem
    }
    .elem2{
        margin-top: 0;
    }

    .row-cta>div>h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    .row-cta>div {
        padding-bottom: 0;
    }

    .btn-large {
        font-size: 0.8rem;
        padding: 0 1rem;
        height: 3.5rem;
    }

    .footer-text>h3 {
        font-size: 2rem !important;
    }

    .footer-text>h5 {
        font-size: 1.1rem !important;
    }

    .intro-title {
        font-size: 2rem;
        /* padding-left: 7vh; */
    }

    i.large {
        font-size: 5rem;
    }

    .brand-logo {
        font-size: 2.2rem !important;
        top: -20px;
        margin-left: 5px;
    }

    .phrase {
        font-size: 2.5rem;
    }

    .teams {
        background: #191B1C;
        /* height: 100vh; */
        color: white;
        font-family: Raleway;
        font-style: normal;
    }

    .nav-scrolled {
        height: 5.2rem;
    }

    .col {
        padding-bottom: 2rem !important;
    }

    .col>h3 {
        font-size: 2rem;
    }

    .col>p{
        font-size: 1rem;
    }
    .cta {
        height: 30vh;
    }

    .teams {
        background: #191B1C;
        /* height: 100vh; */
        color: white;
        font-family: Raleway;
        font-style: normal;
    }

    .teams-row {
        padding-bottom: 1rem;
    }

    .container>h1 {
        /* text-align: center; */
        color: rgba(255, 255, 255, 0.8);
    }

    .intro-text {
        text-align: center;
    }

    /* 
.padding {
    padding-top: 8vh;

} */

    nav .sidenav-trigger {
        top: -10px;
        margin: 0;
    }

    .nav-scrolled {
        height: 5.2rem;
    }

    .council {
        background: #191B1C;
        /* height: 100vh; */
        color: white;
        font-family: Raleway;
        font-style: normal;
    }

    .face-pic {
        border-radius: 50%;
    }
}
.teams {
    background: #191B1C;
    /* height: 100vh; */
    color: white;
    font-family: Raleway;
    font-style: normal;
}

.nav-scrolled {
    height: 5.2rem;
}

.col {
    padding-bottom: 2rem !important;
}

.col>h3 {
    font-size: 2rem;
}

.col>p {
    font-size: 1rem;
}

.teams {
    background: #191B1C;
    /* height: 100vh; */
    color: white;
    font-family: Raleway;
    font-style: normal;
}

.teams-row {
    padding-bottom: 1rem;
}

/* .container>h1 {
    /* text-align: center; 
color: rgba(255, 255, 255, 0.8);
font-weight: 500;
font-size: 3.5rem;
}

*/ .intro-text {
    text-align: center;
}

/* 
.padding {
    padding-top: 8vh;

} */

nav .sidenav-trigger {
    top: -10px;
    margin: 0;
}

.nav-scrolled {
    height: 5.2rem;
}

.council {
    background: #191B1C;
    /* height: 100vh; */
    color: white;
    font-family: Raleway;
    font-style: normal;
}

.face-pic {
    border-radius: 50%;
}

.about {
    background: #191B1C;
    /* height: 100vh; */
    color: white;
    font-family: Raleway;
    font-style: normal;
}

.about-text {
    font-size: 1.2rem;
    line-height: 2rem;
}

.ele {
    text-align: center;
    padding-bottom: 50px;
    border-right: 1px dashed rgba(255, 255, 255, 0.5);
}

.ele:last-child {
    border-right: 0px solid white;
}

.counter {
    color: rgba(255, 255, 255, 0.8);
    animation-duration: 1s;
    animation-delay: 0s;
    font-size: 3rem;
}

/* i {
    font-size: 20px !Important;
  } */

@media (max-width: 991px) {
    .ele {
        border-right: 0px dashed white;
        border-bottom: 1px dashed white;
        width: 50%;
        margin: auto auto;
    }

    .ele:last-child {
        border-bottom: 0px dashed white;
    }
}

.footer {
    background: black;
    /* height: 50vh; */
    color: white;
    font-family: Raleway;
    font-style: normal;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.footer-text {
    text-align: center;
}

.footer-text a {
    color: #03a9f4;
    text-transform: uppercase;
}

.footer-text>h3 {
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.8)
}

.footer-text>h5 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
}